// color cube

$White : #ffffff;
$PortGore : #1f2154;
$Silver : #bcbcbc;
$MountainMeadow : #1fad96;
$TexasRose : #febc4d;
$DoveGray : #6c6c6c;
$Mandy : #e25a6d;
$RoyalBlue : #e25a6d;
$Thunderbird : #cc1b17;
$DodgerBlue : #1f9efb;

// median cut

$Rhino : #293259;
$HintOfRed : #f6f3f6;
$CoralTree : #a65e6d;
$GrayChsteau : #9da1aa;
$Anzac : #e2a957;

// material design

$BlueMarguerite : #6a5ad0;
$ShadyLady : #9b999b;
$JungleGreen : #27ab94;
$Corduroy : #616865;
$Ronchi : #efb056;
